# --- Güvenlik (Çok Önemli) ---
.env

# --- Gereksiz Paketler ---
node_modules/

# --- Build / Paketleme Çıktıları ---
dist/
release/
build/

# --- Sistem Dosyaları ---
Thumbs.db
.DS_Store

# --- Loglar ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*